<body class="container-fluid m-0 p-0 g-0" id="profile">
<app-profile-aside class="row m-0 mb-4 pb-4 col-3"></app-profile-aside>
<div>

<section class="wrapper-info">

  <div>
    <ul class="ul-data">
      <li class="bold">
        Employees
      </li>
      <li class="bold font-size">
        {{countEmployees?.countEmployees}}
      </li>
    </ul>
  </div>

  <div>
    <ul class="ul-data left-border">
      <li class="bold">
        Active Courses
      </li>
      <li class="bold blue font-size">
        {{countCourses?.coursesCount}}
      </li>
    </ul>
  </div>

  <div>
    <ul class="ul-data left-border">
      <li class="bold">
        Active Coaches
      </li>
      <li class="bold green font-size">
        {{countCoaches?.countCoaches}}
      </li>
    </ul>
  </div>
</section>

<div class="wrapper">
  <section class="head">
    <p>Course Name</p>
    <p>Enrolled</p>
  </section>
  <section class="body" *ngFor="let course of coursesEnrolled | paginate: {id: 'courses-paginator', itemsPerPage: 3, currentPage: pageCourses, totalItems: totalRecordsCourses}">
    <p class="green bold">{{course.name}}</p>
    <p>{{course.enrolled}}</p>
  </section>
  <div>
    <pagination-controls class="pagination pagination-blue" id="courses-paginator" maxSize="3" directionLinks="true" (pageChange)="pageCourses = $event" previousLabel="" nextLabel=""></pagination-controls>
  </div>
</div>
<div class="wrapper">
  <section class="head head-green">
    <p>Coach Name</p>
    <p>Sessions</p>
  </section>
  <section class="body" *ngFor="let coach of coachesSessions | paginate: {id: 'coaches-paginator', itemsPerPage: 3, currentPage: pageCoaches, totalItems: totalRecordsCoaches}">
    <p class="green bold">{{coach.name}}</p>
    <p>{{coach.sessions}}</p>
  </section>
  <div>
    <pagination-controls class="pagination pagination-green" id="coaches-paginator" maxSize="3" directionLinks="true" (pageChange)="pageCoaches= $event"  previousLabel="" nextLabel=""></pagination-controls>
  </div>
</div>

</div>
</body>
