@font-face {
  font-family: Montserrat;
  src: url("https://fonts.googleapis.com/css?family=Montserrat");
}

.wrapper-info {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 120px;
  align-items: center;

  width: auto;
  height: fit-content;    

  box-shadow: 5px 5px 28px 6px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrapper-info > div {
  padding: 10px;
}

.ul-data {
  list-style: none;
}

.ul-data > li {
  padding: 10px;
}

.bold {
  font-weight: bolder;
}

.font-size {
  font-size: 2.2rem;
}
.left-border {
  border-left: 1px solid black;
}
.wrap {
  min-height: 400px;
  min-width: 800px;
  align-items: center;
  margin-left: 120px;
  margin-bottom: 0;
}

.blue{
  color: #296CFB;
}

.green{
  color: #16D696;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 30px 30px 120px;
  height: fit-content;
  width: fit-content;
  box-shadow: 5px 5px 28px 6px rgba(0, 0, 0, 0.35);
}

.head {
  width: 60vw;

  display: flex;
  flex-direction: row;
  background: #296CFB;
  color: white;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;
  padding: 20px;
}

.head-green{
  background-color: #16D696;
}

.body {
  width: 60vw;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: normal;
  align-content: normal;
  padding: 20px;
  border-bottom: 1px solid black;

}

button {
  background: none;
  align-items: center;
  margin: 30px auto 30px;
  color: cornflowerblue;
  border: none;
}

button:hover {
  cursor: pointer;
}


.pagination::ng-deep .ngx-pagination .current {
  border-radius: 50%;
}

.pagination-green::ng-deep .ngx-pagination .current {
  background: #16D696  !important;
}

.pagination-blue::ng-deep .ngx-pagination .current {
  background: #296CFB  !important;
}

.pagination::ng-deep  .ngx-pagination{
 margin: 10px;
}







