<body class="container-fluid m-0 p-0 g-0">
<section class="row m-0 p-0 g-0">
  <div class="col-12 col-lg-6 p-4 align-self-center">
    <h1 class="fw-bold pb-4 mb-4">Do you want to level up the knowledge of your team?</h1>
    <p class="pb-4 mb-4">
      Upskill gives everyone the opportunity to grow professionally and develop into a specialist in every field. We inspire your people to master their skills and become the best version of themselves. Through our unique, personalised, user-friendly experience,
      your business is ready to reach new heights.
    </p>
    <button class="btn primary-btn">Get Started</button>
  </div>
  <div class="d-none col-lg-6 pale-green-backdrop-right d-lg-flex justify-content-center align-items-center p-4">
    <img src="./assets/img/girl_sitting_on_books.svg" class="ms-4 ps-4" height="400" alt="Girl over books">
  </div>
</section>
<section class="row m-0 p-0 g-0">
  <div class="d-none col-lg-6 pale-green-backdrop-left d-lg-flex justify-content-center align-items-center p-4">
    <img src="./assets/img/boy_with_laptop.svg" class="ms-4 ps-4" height="400" alt="Girl over books">
  </div>
  <div class="col-12 col-lg-6 p-4 align-self-center">
    <h1 class="fw-bold pb-4 mb-4 text-end">What <b class="text-highlighted">UpSkill</b> does?</h1>
    <p class="pb-4 mb-4 text-end">
      We help businesses as well as individuals learn new skills and gain knowledge on various topics while exploring different sources and getting certified. If you need personal time with a specialist, don’t hesitate to book your slot with one of our top
      coaches.
    </p>
    <div class="d-flex justify-content-end">
      <button class="btn primary-btn me-4">Explore Courses</button>
      <button class="btn primary-outline-btn">Find Coaches</button>
    </div>
  </div>
</section>
<section class="row m-0 p-0 g-0" id="request-demo" fragment="request-demo">
  <div class="col-12 col-lg-6 p-4 align-self-center">
    <h1 class="fw-bold pb-4 mb-4">Request a Demo</h1>
    <p class="p-0">
      Don’t find what you are looking for? We would be more than happy to help you and assist you in everything you need! Let us know about your personal requirements by filling our request form:
    </p>
    <form class="row m-0 p-0 g-4" [formGroup]="demoForm" (ngSubmit)="onRequestDemo()">
      <div class="col-12 col-lg-6 m-0">
        <div class="form-input-wrapper">
          <input type="text" formControlName="fullName" class="form-control" id="fullName">
          <label for="fullName">Name<span class="required ps-2">*</span></label>
        </div>
        <div class="alert alert-danger" *ngIf="c.fullName.touched && c.fullName.errors?.minLength">
          Full name length must be more than 8 characters!
       </div>
        <div class="form-input-wrapper">
          <input type="email" formControlName="email" class="form-control" id="email">
          <label for="email">Email Address<span class="required ps-2">*</span></label>
        </div>
        <div class="alert alert-danger" *ngIf="c.email.touched && c.email.errors?.email">
         Invalid email!
       </div>
      </div>
      <div class="col-12 col-lg-6 m-0">
        <div class="form-input-wrapper">
          <input type="text" formControlName="companyName" class="form-control" id="companyName">
          <label for="companyName">Company Name<span class="required ps-2">*</span></label>
        </div>
        <div class="alert alert-danger" *ngIf="c.companyName.touched && c.companyName.errors?.minLength">
          Company name length must be more than 4 characters!
       </div>
        <div class="form-input-wrapper">
          <input type="tel" formControlName="phoneNumber" class="form-control" id="phoneNumber">
          <label for="phoneNumber">Phone number<span class="required ps-2">*</span></label>
        </div>
        <div class="alert alert-danger" *ngIf="c.phoneNumber.touched && c.phoneNumber.errors?.min">
          Phone number must contains more than 10 digits!
       </div>
      </div>
      <div class="col-lg-12 d-flex justify-content-end">
        <button class="btn primary-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="d-none col-lg-6 green-backdrop-right d-lg-flex justify-content-center align-items-center p-4">
    <img src="./assets/img/girl_with_pen.svg" class="ms-4 ps-4" height="400" alt="Girl over books">
  </div>
</section>

</body>
