
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto 20px;
}

.month-wrap {
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 30px auto 0px;
  background: cornflowerblue;
  color: white;
  border-bottom: 1px solid white;
}

.border-export {
  padding: 5px;
  border: 3px solid cornflowerblue;
}

.month-wrap > p {
  padding: 10px;
}

.hover-me {
  cursor: pointer;
}

table {
  padding: 10px;
  box-shadow: 5px 5px 28px 6px rgba(0, 0, 0, 0.35);
}

.table-head {
  padding: 20px;
  background: cornflowerblue;
  color: white;
}

th {
  padding: 30px;
  margin: 5px;
}

.tr-class {
  padding: 30px;
  border-bottom: 1px solid black;
}

tfoot {
  padding: 30px;
  align-items: center;
}

.tr-class > td {
  padding: 30px;
  align-content: center;
}

td, th {
  align-content: center;
}


.tfoot {
  padding: 30px;
  align-content: center;
  font-weight: bolder;
}

button {
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 20px 5px;
  border-radius: 30px;
  background: cornflowerblue;
  color: white;
}

button:hover {
  cursor: pointer;
}


.wrapper-info {
  min-width: 600px;
  margin-top: 30px;
  margin-bottom: 40px;
  align-items: center;
  height: fit-content;

  box-shadow: 5px 5px 28px 6px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrapper-info > div {
  padding: 10px;
}

.ul-data {
  list-style: none;
}

.ul-data > li {
  padding: 10px;
}

.bold {
  font-weight: bolder;
}

.font-size {
  font-size: 1.2em;
}

.green {
  color: green;
}

.blue {
  color: cornflowerblue;
}

.left-border {
  border-left: 1px solid black;
}

.right-border {
  padding-right: 10px;
  border-right: 1px solid black;
}

.min-width {
  min-width: 600px;

}

.excel {
  align-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;

}
