<body class="container-fluid m-0 p-0 g-0" id="profile">
<app-profile-aside class="row m-0 mb-4 pb-4 col-3"></app-profile-aside>
<div class="wrapper">
  <section class="wrapper-info">

    <div>
      <ul class="ul-data right-border">
        <li class="bold">
          Invoice status
        </li>
        <li class="bold font-size blue">
          Pending
        </li>
      </ul>
    </div>

    <div>
      <ul class="ul-data right-border">
        <li class="bold">
          Due date
        </li>
        <li class="bold font-size blue">
          {{lastDay  | date: 'd.M.yyyy'}}
        </li>
      </ul>
    </div>

    <div>
      <ul class="ul-data">
        <li (click)="makePDF()" class="bold font-size border-export hover-me blue">
          Export
        </li>
      </ul>
    </div>

  </section>

  <div>
    <ul class="ul-data excel">
      <li (click)="exportExcel()" class="bold font-size border-export hover-me blue">
        Export excel doc-{{monthTitle}}.
      </li>
    </ul>
    <div class="month-wrap">
      <p class="hover-me" (click)="getPreviousMonth()">< </p>
      <p>{{monthTitle}}</p>
      <p class="hover-me" (click)="getNextMonth()"> ></p>
    </div>
    <div>
    </div>
    <table id="excel-table"  #htmlData class="min-width">
      <thead>
      <tr class="table-head">
        <th>Coach/Course</th>
        <th>Date</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr class="tr-class" *ngFor="let i of invoices">
        <td>{{i.modelName}}</td>
        <td>{{i.date}}</td>
        <td>{{i.price}} lv.</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td class="tfoot">Total:</td>
        <td></td>
        <td class="tfoot">{{total ? total.toFixed(2) : 0}} lv.</td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
</body>
