<body class="container-fluid m-0 p-0 g-0" id="profile">
<app-profile-aside class="row m-0 mb-4 pb-4 col-3"></app-profile-aside>
 <section class="col-8">
<!--<div class="col-12 col-lg-4 m-auto" *ngFor="let s of session">-->
<!--  <div class="col-6 m-auto" *ngIf="s.available">-->
<!--  <p>{{s.session}}</p>-->
<!--  <button type="button" class="btn btn-primary col-4 " (click)="bookSession(s.id, $event)">Meeting</button>-->
<!--  </div>-->
<!--</div>-->
   <div class="col-12 col-lg-4 m-auto mt-5" *ngIf="events.length == 0">
     <h2>No available meeting!</h2>
   </div>
   <app-calendar-header [events]="events" *ngIf="events.length > 0" [coach]="idCoach" (onChange)="reloadChange($event)"></app-calendar-header>
</section>
</body>
