  
<div class="modal-wrapper">
  <div class="profile-wrapper">
    <button mat-icon-button class="close-btn" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="white" style="float: right; position: relative;">close</mat-icon>
    </button>
      <h1>{{data?.details.name}}</h1>
      <div class="header-wrapper">
      <div class="profile-img-wrapper">
      <img src="https://dev.java/assets/images/java-logo-vert-blk.png" alt="#">
    </div>
    <div class="profile-text-wrapper">
      <h3>Created by <span>{{data.details.lector}}</span></h3>
      <h5>Google</h5>
    </div>
    </div>
    </div> 
    <div class="sections-wrapper">
    
    <section class="left-section-wrapper">
    <div class="description-wrapper">
      <h2>Course Description</h2>
<p>{{data.details.description}}</p>
    </div>
    <div class="skills-wrapper">
      <h2>What you will learn</h2>
      <ul>
        <li *ngFor="let skill of data.details.skills">{{skill}}</li>
      </ul>
    </div>
  </section>
    <section class="right-section-wrapper">
      <div class="video-wrapper">
        <!-- <img src="https://dev.java/assets/images/java-logo-vert-blk.png"alt="#"> -->
        <iframe
        src="https://www.youtube.com/embed/xBKRuI2zHp0"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
      </div>
      <div class="course-content-wrapper">
        <h2>This course includes</h2>
        <ul>
           <li><img src="./assets/icons/desktop.png">{{data.details.duration}} hours on demand video</li>
          <li><img src="./assets/icons/document.png"> {{data.details.lecturesCount}} lectures</li>
          <li><img src="./assets/icons/infinity.png"> Full lifetime access</li>
          <li><img src="./assets/icons/trophy.png"> Certificate of completion</li>
        </ul>
        <!-- <button  *ngIf="isEmployee$ | async" class="enroll-btn">Enroll</button> -->
        <!-- <button class="enroll-btn">Enroll</button> -->
      </div>
    </section>
  </div>
  </div>