//div {
//  height: 370px;
//  width: 100%;
//  color: black;
//  padding-top: 200px;
//  text-align: center;
//}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto 20px;
}

table {
  padding: 10px;
  box-shadow: 5px 5px 28px 6px rgba(0, 0, 0, 0.35);
}

.table-head {
  padding: 20px;
  background: cornflowerblue;
  color: white;
}

th {
  padding: 30px;
  margin: 5px;
}

.tr-class {
  padding: 30px;
  border-bottom: 1px solid black;
}

tfoot {
  padding: 30px;
  align-items: center;
}

.tr-class > td {
  padding: 30px;
  align-content: center;
}

td, th {
  align-content: center;
}


.tfoot {
  padding: 30px;
  align-content: center;
  font-weight: bolder;
}

button {
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 20px 5px;
  border-radius: 30px;
  background: cornflowerblue;
  color: white;
}

button:hover {
  cursor: pointer;
}
