<body class="container-fluid m-0 p-0 g-0" id="profile">
<app-profile-aside class="row m-0 mb-4 pb-4 col-3"></app-profile-aside>
<div class="wrapper">
  <table>
    <thead>
    <tr class="table-head">
      <th>Coach/Course</th>
      <th>Revenue</th>
      <th>Expenses</th>
      <th>Profit</th>
    </tr>
    </thead>
    <tbody>
    <tr class="tr-class" *ngFor="let i of info">
      <td>{{i.name}}</td>
      <td>{{(i.money).toFixed(2)}} lv.</td>
      <td>{{(i.money * 0.3).toFixed(2)}} lv.</td>
      <td>{{(i.money * 0.5).toFixed(2)}} lv.</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td class="tfoot">Total profit:</td>
      <td></td>
      <td></td>
      <td class="tfoot">{{total ? total.toFixed(2) : ''}} lv.</td>
    </tr>
    </tfoot>
  </table>
  <button *ngIf="!hide" (click)="getMoreRevenues()">View more</button>
</div>
</body>
