<body class="container-fluid m-0 p-0 g-0" id="profile">
<app-profile-aside class="row m-0 mb-4 pb-4 col-3"></app-profile-aside>
  <section class="col-8">
    <div class="row g-4 m-0 p-0 mt-4 pt-4">
      <div class="col-12 d-flex justify-content-end mb-4 pb-4">
        <button class="btn white-outline-btn" [routerLink]="['/coach/catalog'] ">Manage</button>
      </div>
      <p *ngIf="!(boCoaches$ | async)" >No coaches added, yet</p>
      <app-coach-item-bo class="col-12 col-lg-4" *ngFor="let bo of boCoaches$ | async" [coach]="bo" (onChange)="reloadChange($event)"></app-coach-item-bo>
    </div>
  </section>
</body>
