<body class="container-fluid m-0 p-0 g-0" id="profile">
<app-profile-aside class="row m-0 mb-4 pb-4 col-3"></app-profile-aside>
<div class="wrapper">
  <section class="head">
    <p>Company Name</p>
    <p>Email</p>
  </section>
  <section class="body" *ngFor="let i of info">
    <p class="blue">{{i.name}}</p>
    <p>{{i.email}}</p>
  </section>
  <button *ngIf="!hide" (click)="getMoreClients()">View more</button>

</div>
</body>
