
.wrapper {
  display: flex;

  align-items: center;
  flex-direction: column;
  margin: 30px auto 20px;
  height: fit-content;
  width: fit-content;
  box-shadow: 5px 5px 28px 6px rgba(0, 0, 0, 0.35);
}

.head {
  width: 60vw;

  display: flex;
  flex-direction: row;
  background: cornflowerblue;
  color: white;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;
  padding: 20px;
}

.blue {
  font-weight: bold;
  color: cornflowerblue;
}

.body {
  width: 60vw;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: normal;
  align-content: normal;
  padding: 20px;
  border-bottom: 1px solid black;

}

button {
  background: none;
  align-items: center;
  margin: 30px auto 30px;
  color: cornflowerblue;
  border: none;
}

button:hover {
  cursor: pointer;
}
