<main>
  <div class="exit" mat-dialog-close="true" > + </div>
  <div class="container">
    <div class="top">
      <button
        mat-raised-button
        class="upload"
        (click)="fileImportInput.click()"
      >
        Upload CVS file
      </button>
      <input
        class="upload-input"
        type="file"
        #fileImportInput
        name="File Upload"
        id="csvFileUpload"
        (change)="fileChangeListener($event)"
        accept=".csv"
      />
      <h2 class="add">Add employees</h2>
    </div>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
      <ng-container formArrayName="employees">
        <ng-container
          *ngFor="let employee of employees.controls; let i = index"
        >
          <div [formGroup]="employee" id="input-wrapper">
            <input
            class="form-input"
            type="text"
            placeholder="Full Name*"
            formControlName="fullName"
          />
            <input
              class="form-input"
              type="text"
              placeholder="Email Address*"
              formControlName="email"
            />
            <button
              class="remove-btn"
              type="button"
              (click)="removeEmployee(i)"
            >
              Remove
            </button>
          </div>
        </ng-container>
      </ng-container>
      <button
        type="button"
        class="add-button"
        mat-stroked-button
        (click)="addEmployee()"
      >
        + Add another employee
      </button>

      <div class="form-buttons">
        <button class="form-buttons-cancel" type="button" (click)="cancel()">
          Reset
        </button>
        <button
          mat-dialog-close="true"
          class="form-buttons-submit"
          type="submit"
          [disabled]="!registerForm.valid"
          [ngStyle]="{
            cursor: !registerForm.valid ? 'not-allowed' : 'pointer'
          }"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</main>
