<div class="col-12 col-lg-4 m-auto">
<div class="col-8 text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        (viewDateChange)="initDays()"
        [(viewDate)]="viewDate"
        [view]="view"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        (viewDateChange)="initDays()"
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        (viewDateChange)="initDays()"
        [(viewDate)]="viewDate"
        [view]="view"
      >
        Next
      </div>
    </div>
  </div>

  <h1>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h1>


</div>

</div>
<h2 class="m-auto text-center">Click on available date and book your meeting!</h2>

    <mwl-calendar-month-view

      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      (eventClicked)="bookSession($event.event.id)"
    >
    </mwl-calendar-month-view>


