<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [legend]="lineChartLegend"
            [type]="lineChartType"
    >
    </canvas>
  </div>
</div>
