.tables-wrapper{
  width: 80%;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
  max-height: 250px;
}

.example-container {
  height: 400px;
  overflow: auto;
}

.mat-header-cell{
  background-color: #296cfb;
  text-align: center;
  font-size: large;
  color: white;

}

::-webkit-scrollbar {
  background-color: #296cfb;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #E9F0FF;
  border-radius: 10px;
}

.mat-cell{
  background:white;
  color: black;
  font-size: larger;
  font-weight: bold;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-color: darkgray;
}

.mat-elevation-z8 {
  width: 100%;
  text-align: center;
  max-height: 300px;
    overflow: auto;
    font-family: Montserrat,serif;
}

.date-td{
  font-weight: 300;
}

.mat-row{
  height: 60px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.blue{
  color: #296cfb;
}

#coachHeaderCell{
  background-color: #16D696;
}
