<main class="container-fluid m-0 p-0 g-0" id="profile">
  <app-profile-aside class="row m-0 mb-4 pb-4 col-3"></app-profile-aside>
  <div class="tables-wrapper">
    <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="overflow-x:auto;">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Course </th>
        <td *matCellDef="let element" [class]="element.grade === 'Pending' ? 'mat-cell blue' : 'mat-cell'"> {{element.name}} </td>
      </ng-container>

           <!-- Position Column -->
           <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Start Date </th>
            <td mat-cell *matCellDef="let element" class="date-td"> {{element.startDate | date: 'd.M.yyyy'}} </td>
          </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let element" class="date-td"> {{element.endDate | date: 'd.M.yyyy'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef> Grade </th>
        <td *matCellDef="let element" [class]="element.grade === 'Pending' ? 'mat-cell blue' : 'mat-cell'"> {{element.grade}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr class="table-tr" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceCoach" class="mat-elevation-z8" style="overflow-x:auto;">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef id="coachHeaderCell"> Coach </th>
          <td *matCellDef="let element" class="mat-cell"> {{element.name}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef id="coachHeaderCell"> First Session </th>
          <td mat-cell *matCellDef="let element" class="date-td"> {{element.startDate | date: 'd.M.yyyy'}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef id="coachHeaderCell"> Last Session </th>
          <td mat-cell *matCellDef="let element" class="date-td"> {{element.endDate | date: 'd.M.yyyy'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="session">
          <th mat-header-cell *matHeaderCellDef id="coachHeaderCell"> Sessions </th>
          <td *matCellDef="let element" class="mat-cell"> {{element.session}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedCoachColumns; sticky: true"></tr>
        <tr class="table-tr" mat-row *matRowDef="let row; columns: displayedCoachColumns;"></tr>
      </table>
    </div>
  </div>

</main>
