<body class="container-fluid m-0 p-0 g-0" id="profile">
<app-profile-aside class="row m-0 mb-4 pb-4 col-3"></app-profile-aside>
<div class="wrap-main">
  <section class="wrapper-info">

    <div>
      <ul class="ul-data">
        <li class="bold">
          Clients
        </li>
        <li class="bold font-size">
          {{countOfClients}}
        </li>
      </ul>
    </div>

    <div>
      <ul class="ul-data left-border">
        <li class="bold">
          Revenue
        </li>
        <li class="bold font-size">
          {{revenue$}}
        </li>
      </ul>
    </div>


    <div>
      <ul class="ul-data left-border">
        <li class="bold">
          Courses
        </li>
        <li class="bold blue font-size">
          {{countOfCourses}}
        </li>
      </ul>
    </div>

    <div>
      <ul class="ul-data left-border">
        <li class="bold">
          Coaches
        </li>
        <li class="bold green font-size">
          {{countOfCoaches}}
        </li>
      </ul>
    </div>
  </section>
  <div class="wrap">
    <p class="clients">Number of clients</p>
    <app-line-chart></app-line-chart>
    <p class="revenue">Total revenue</p>
    <app-line-chart-two></app-line-chart-two>
  </div>
</div>
</body>
