
.wrap-main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper-info {
  //min-width: 800px;
  margin-top: 30px;
  margin-bottom: 40px;
  align-items: center;
  height: fit-content;

  box-shadow: 5px 5px 28px 6px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrapper-info > div {
  padding: 10px;
}

.ul-data {
  list-style: none;
}

.ul-data > li {
  padding: 10px;
}

.bold {
  font-weight: bolder;
}

.font-size {
  font-size: 4.2em;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.left-border {
  border-left: 1px solid black;
}

.wrap {
  min-height: 400px;
  min-width: 800px;
  align-items: center;
  margin-bottom: 0;
}

.clients {
  background: blue;
  color: white;
  padding: 20px;
  margin-left: 30px;
  font-weight: bold;
}

.revenue {
  margin-top: 30px;
  background: green;
  color: white;
  padding: 20px;
  margin-left: 30px;
  font-weight: bold;
}
